# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
/output/upload/click_log.csv
/output/upload/labeled_texts.csv
/output/upload/total-summary.csv
/output/upload/value_log.csv

# Files generated during testing
/output/click_log.csv
/output/fitted-vectorizer.pkl
/output/labeled_texts.csv
/output/label-summary.csv
/output/total-summary.csv
/output/trained-classifier.pkl
/output/value_log.csv
/output/save/CLASSIFIER_LIST.pkl
/output/save/CLICK_LOG.pkl
/output/save/DATASET_NAME.pkl
/output/save/DATASET_URL.pkl
/output/save/DATE_TIME.pkl
/output/save/save_state.json
/output/save/TOTAL_SUMMARY.pkl
/output/save/VALUE_LOG.pkl
/output/save/VECTORIZED_CORPUS.pkl
/output/save/VECTORIZER_LIST.pkl
/output/save/Y_CLASSES.pkl

/output/download/rapid-labeling-results-2021-11-20--05-45-07.zip
/output/download/rapid-labeling-results-2021-11-20--09-51-31.zip
/output/download/rapid-labeling-results-2021-11-20--10-10-44.zip
/output/download/rapid-labeling-results-2021-11-20--10-30-55.zip
