:root{
    --main-radius: 5px;
    --main-padding: 0.15vw;
}

a {
  color: #0d57aa;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #f2f2f1;
}

h1 {
    font-size: 1.5vw;
    text-align: center;
    margin: auto;
}

h2 {
    padding-left: 0.5vw;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 750;
    font-size: 1.25vw;
}

div {
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}

.appButton {
    background-color: #ffcb05;
    color: black;
    border: 1px solid;
}

.appButton:hover {
    background-color: #0d57aa;
    color: white;
    transform: scale(1.025);
    border: 1px solid;
    border-color: #333333;
}

#refreshIcon {
    width: 1.5vw;
    height: 1.5vw;
    padding-top: 0.5vw;
    padding-left: 0.25vw;
}

#refreshIcon:hover, #refreshIcon:focus {
    transform: scale(1.1);
}

#divHeader {
    background-color: #00274c;
    grid-area: divHeader;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    padding-top: 1.25vh;
    color: #ffffff;
}

#divBodyLeft {
    background-color: #333333;
    grid-area: divBodyLeft;
    border-radius: var(--main-radius);
}

#gridTopLeft {
    color: black; /* #0d57aa; /*blue*/
    background-color: #c2c4c6;
    grid-area: gridTopLeft;
    border-radius: var(--main-radius);
}

#bodyLeft1 {

}


#divBodyLeftTable1 {
    border-radius: var(--main-radius);
    overflow-y: auto;
    overflow-x: hidden;
    width: 98%;
    margin: auto;
    margin-top: 0.1vh;
    white-space: normal;
    overflow-wrap: break-word;
}

#bodyLeftTable1 {
    height: 32.5vh;
    margin-bottom: 2vh;
    margin-bottom: 10.5vh;
}

#bodyLeft2 {
}

#divBottomLeftBody {
    height: 13vh;
    overflow-y: auto;
    background-color: white;
    border: 1px solid;
    border-color: #333333;
    border-radius: var(--main-radius);
    width: 96.5%;
    margin: auto;
    padding-left: 0.5vw;
    color: #808080;
    margin-bottom: 2vh;
}


#divBodyLeftButtons {

}

#divRadioConfiguration, #divRadioConfigurationNewData{
    display: flex;
    margin-top: 2.0vh;
}

#option1NewData, #option1 {
    margin-left: 1vw;
    width: 15vw;
}

#config1 {
    padding-left: 0.8vw;
}

#config2 {

}

#gridTopMiddle {
    color: black; /* #0d57aa; /*blue*/
    background-color: #c2c4c6;
    grid-area: gridTopMiddle;
    border-radius: var(--main-radius);
}

#bodyMiddle1 {
    margin-left: 0.0vw;
}

#formSelectFile {
    margin-top: 1.5vh;
    margin-left: 0.5vw;
}

#or {
    margin-left: 2.0vw;
    margin-top: 0.01vh;
    margin-bottom: 0.01vh;
}

#fileOutput {
    height: 65%;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2hv:
    border: 1px solid;
    border-color: #333333;
    border-radius: var(--main-radius);
}

#gridTopRight {
    color: black; /* #0d57aa; /*blue*/
    background-color: #c2c4c6;
    grid-area: gridTopRight;
    border-radius: var(--main-radius);
}

#bodyRight1 {
    justify-content: center;
}

@keyframes gif1 {
	0% { content: url(gif_11.png); }
	25% { content: url(gif_12.png); }
	50% { content: url(gif_13.png); }
	75% { content: url(gif_14.png); }
	100% { content: url(gif_15.png); }
}

#gif1 {
	animation-name: gif1;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	height: 9vw;
	width: 15vw;
    border-radius: var(--main-radius);
    border: 1px solid;
    border-color: #333333;
    margin-left: 0.35vw;
}


@keyframes gif2 {
	0% { content: url(gif_01.png); }
	25% { content: url(gif_02.png); }
	50% { content: url(gif_03.png); }
	75% { content: url(gif_04.png); }
	100% { content: url(gif_05.png); }
}

#gif2 {
	animation-name: gif2;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	height: 9vw;
	width: 15vw;
    border-radius: var(--main-radius);
    border: 1px solid;
    border-color: #333333;
    margin-left: 0.35vw;
}

#gridBottomRight {
    color: black; /* #0d57aa; /*blue*/
    background-color: #c2c4c6;
    grid-area: gridBottomRight;
    border-radius: var(--main-radius);
}

#divBodyRight {
    background-color: #333333;
    grid-area: divBodyRight;
    border-radius: var(--main-radius);
}

#divFooter {
    background-color: #00274c;
    grid-area: divFooter;
    border-radius: var(--main-radius);
    font-size: 0.55vw;
    color: white;
    text-align: center;
    padding-top: 2vh;
}

.container {
  display: grid;
  height: 145%;
  grid-template-columns: 2% 40% 40% 16% 2%;
  grid-template-rows: 5.5% 89% 5.5%;
  grid-template-areas:
    "divHeader divHeader divHeader divHeader divHeader"
    "divBodyLeft gridTopLeft gridTopMiddle gridTopRight divBodyRight"
    "divFooter divFooter divFooter divFooter divFooter";
  grid-gap: 0.3rem;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 0.75vw;
  color: #808080;
  text-align: center;
  style: "padding-left: 20px";
}

.subHeading {
    font-weight: 100;
    font-size: 0.75vw;
    padding-left: 0.60vw;
    margin-top: 1px;
    margin-bottom: 0.5vh;
    color: #0d57aa;
}

#divBodyLeftTable2 {
    border-radius: var(--main-radius);
    overflow-y: auto;
    overflow-x: hidden;
    height: 30vh;
    width: 98%;
    margin: auto;
    margin-top: 0.1vh;
    margin-bottom: 2vh;
    white-space: normal;
    overflow-wrap: break-word;
}

#myFile {
    margin-top: 0.01vh;
    margin-bottom: 0.25vh;
    font-size: 1.5vh;
    font-weight: 600;
}

#divDataPreviewTable {
    border-radius: var(--main-radius);
    overflow-y: auto;
    overflow-x: auto;
    height: 25vh;
    width: 99.19%;
    margin-top: 0.1vh;
    white-space: normal;
    overflow-wrap: break-word;
    background-color: white;
    margin-bottom: 1vh;
}

#divPreparedDataTable {
    border-radius: var(--main-radius);
    overflow-y: auto;
    overflow-x: auto;
    height: 30vh;
    width: 98%;
    margin: auto;
    margin-top: 0.1vh;
    margin-bottom: 4vh;
    white-space: normal;
    overflow-wrap: break-word;
    background-color: white;
    height: 30vh;
}

#existingLabels {
    margin-top: 1.5vh;
    margin-bottom: 0.5vh;
}

#enterLabelsHeading {
    margin-bottom: 1.95vh;
}

#divSelectCols {
  display: inline-block;
  text-align: right;
  clear: both;
}

#labelTextIdColDropDown {
    margin-left: 1.45vw;
}

#labelTextValueColDropDown {
    margin-left: 0.95vw;
}

#inputTextIdColDropDown, #inputTextValueColDropDown {
    width: 12vw;
}

#inputTextValueColDropDown {
    width: 12vw;
}

#divSelectCols label {
    clear: both;
}

#textValueColDropDown {
    margin-top: 0.5vh;
    margin-bottom: 1.0vh;
}

#prepDataButton {
    margin-bottom: 1.5vh;
    width: 98%;
    font-size: 1.5vh;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

#prepDataMessage1, #prepDataMessage2 {
    margin-bottom: 1.0vh;
}

#enterLabels {
    margin-left: 0.3vw;
}

#displayEnteredLabels {
    background-color: white;
    border: 1px solid;
    border-color: #333333;
    border-radius: var(--main-radius);
    height: 9.25vh;
    width: 97.5%;
    padding: 0.5vh;
    margin-top: 0.5vh;
    margin-bottom: 1.8vh;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: normal;
    overflow-wrap: break-word;
    background-color: white;
}

#bodyLeftTable2 {
    height: 30vh;
}

#loadNewDataSetMessage, #divBodyLeft2InfoMessage {
    justify-content: center;
    margin-left: 1.0vw;
    margin-top: 1.0vh;
}

#loadDataSetButton, #loadDataSetButton2 {
    width: 98%;
    font-size: 1.5vh;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: auto;
}

#enterLabelButton, #inputLabelEntered, #clearLabelButton {
    font-size: 1.5vh;
    font-weight: 600;
}

#inputLabelEntered {
    margin-left: 0.25vw;
}

.startTable {
    background-color: white;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 0.65vw;
    text-align: left;
    margin: auto;
}

.startTable th {
    position: sticky;
    top: 2px;
    background: #999999;
    color: #000000;
}

.startTable tr {
    background: #ffffff;
    color: #808080;
}

.startTable tr:hover {
    background: #999999;
    color: #ffffff;
}

.startTable tr.alt:hover {
    background: #999999;
    color: #808080;
}