:root{
    --main-radius: 5px;
    --main-padding: 0.15vw;
}

a {
  color: #0d57aa;
}

h1 {
    margin-top: 0.1vw;
    margin-bottom: 0.1vw;
    font-size: 1.5vw;
}

div {
    white-space: nowrap;
}

#divHeader {
    background-color: #00274c;
    grid-area: divHeader;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    color: #ffffff;
}

#divBodyLeft {
    background-color: #333333;
    grid-area: divBodyLeft;
    border-radius: var(--main-radius);
    /*padding: var(--main-padding);*/
}

#homeIcon, #saveIcon {
    width: 1.5vw;
    height: 1.5vw;
    padding-top: 0.5vw;

}

#homeIcon:hover, #saveIcon:hover, #homeIcon:focus, #saveIcon:focus {
    transform: scale(1.1);
    /*background-color: #0d57aa;*/
}

/*
#homeIcon:hover, #homeIcon:focus {
    width: 1.5vw;
    height: 1.5vw;
    padding-top: 0.5vw;
    background: url("/static/home_icon_blue.png");
}

#saveIcon:hover, #saveIcon:focus {
    width: 1.5vw;
    height: 1.5vw;
    padding-top: 0.5vw;
    background: url("/static/save_icon_blue.png");
}
*/

#gridTop1 {
    background-color: #c2c4c6; /*#959ea7; dark grey/*#f2f2f1; light grey #ffcb05; yellow*/
    grid-area: gridTop1;
    border-radius: var(--main-radius);
    /*padding: var(--main-padding);*/
    font-family: sans-serif;
    text-align: left;
    color: black;
    display: flex;
    flex-direction: column;
    position: relative;
}

#currentText {
    width: 98%;
    height: 89.5%;
    font-family: sans-serif;
    text-align: left;
    color: #0d57aa;
    /*border-radius: var(--main-radius);*/
    vertical-align: middle;
    /*position: relative;*/
    /*margin: auto;*/
    margin: 0 auto;
    margin-top: 6.4vh;
    position: absolute;
    padding-left: 0.2vw;
}


#currentTextBody {
    padding: var(--main-padding);
    background-color: white;
    height: 85%;
    white-space: normal;
    overflow-wrap: break-word;
    border: 1px solid;
    border-color: #333333;
    border-radius: var(--main-radius);
    width: 95%;
    padding-left: 0.6vw;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 0.85vw;
    text-align: left;
    color: #808080;
    margin: auto;
}

#group1Message, #group2Message, #group3Message {
    width: 97%;
    padding-left: 0.6vw;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 0.85vw;
    text-align: left;
    color: #808080;
}

#divLabelButtonSingle {
    width: 99%;
    margin-top: 5.5vh;
    margin: auto;
}


#labelButtonSingle {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.75vw;
    margin: auto;
}

#gridTop0 {
    background-color: #c2c4c6; /*#959ea7; dark grey/*#f2f2f1; light grey #ffcb05; yellow*/
    grid-area: gridTop0;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    font-family: sans-serif;
    text-align: left;
    color: #0d57aa;
    display: flex;
    flex-direction: column;
    position: relative;
}

#labelRadioSelection {
    align: center;
    width: 92%;
    height: 84%;
    background-color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 0.90vw;
    text-align: left;
    color: #808080;
    padding-left: 0.25vw;
    margin: auto;
    margin-top: 6.0vh;
    position: absolute;
    border: 1px solid;
    border-radius: var(--main-radius);
}

#labelMessage {
    white-space: normal;
    overflow-wrap: break-word;
    font-weight: 600;
    font-size: 0.65vw;
    font-weight: 500;
    color: #0d57aa;
}

#gridBottomLeft {
    background-color: #c2c4c6; /*#959ea7; dark grey/*#f2f2f1; light grey #ffcb05; yellow*/
    grid-area: gridBottomLeft;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    display: flex;
    flex-direction: column;
}

#allTexts {
    font-family: sans-serif;
    text-align: left;
    color: #0d57aa;
}

#allTextsTable {
    background-color: white;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 0.65vw;
    text-align: left;
    margin: auto;
}

#allTextTableNextButtons {
    padding-right: 0.1vw;
    padding-left: 0.1vw;
    margin-top: 1px;
    padding-bottom: 0.2vh;
    font-size: 0.65vw;
    float: right;
}

#divSearchTexts {
    padding-top: 0.75vh;
    padding-bottom: 0.85vh;
}

#divSearchInput {
    /*display: inline-block;*/
    float: left;
    padding-left: 0.5vw;
}

#labelSearchAllTextsInclude, #labelSearchAllTextsExclude {
    font-family: sans-serif;
    color: #0d57aa;
    font-weight: 600;
    text-align: right;
    margin-left: 0;
}

#labelSearchAllTextsExclude {
    padding-left: 2.5vw;
}

#searchAllTextsInclude {
    background-image: url('/css/search_icon.png');
    background-repeat: no-repeat;
    width: 10vw;
}

#searchAllTextsExclude {
    background-image: url('/css/search_icon.png');
    background-repeat: no-repeat;
    width: 10vw;
}

#searchAllTextsButton {
    font-size: 0.65vw;
    font-family: sans-serif;
    width: 3.0vw;
}

#divSearchTextMessage {
    /*display: inline-block;*/
    margin-top: 0.25vh;
    width: 33.75vw;
    float: left;
    font-weight: 600;
    text-align: right;
}

#searchTextsMessage {
    font-size: 0.80vw;
    font-family: sans-serif;
    font-weight: 600;
    text-align: right;
    padding-left: 1.65vw;
    color: #0d57aa;
    /*display: inline-block;*/
}

#clearSearchButton {
    /*display: inline-block;*/
    font-size: 0.65vw;
    font-family: sans-serif;
    float: right;
    margin-left: 0.5vw;
    width: 3.0vw;
}

#similarTexts1Buttons, #similarTexts2Buttons {
    display: inline-block;
    padding-right: 0.65vw;
    padding-left: 0.65vw;
    margin-top: 1.5%;
    padding-bottom: 0.2vh;
    font-size: 0.65vw;
    color: #0d57aa; /*alt_blue*/
    min-height: 1.95vh;
}

.appButton {
    background-color: #ffcb05;
    color: black;
    border: 1px solid;
}

.appButton:hover {
    background-color: #0d57aa;
    color: white;
    transform: scale(1.025);
    border: 1px solid;
    border-color: #333333;
}

.submitButton {
    width: 3.5vw;
    height: 1.85vh;
    font-size: 0.65vw;
}

.selectDropDown  {
    width: 3.5vw;
    height: 1.85vh;
    font-size: 0.65vw;
}

allTextTableNextButtons:hover {
    background-color: #ddd;
    color: black;
    margin: auto;
}

#divAllTextsTable {
    overflow-y: auto;
    overflow-x: hidden;
    height: 70%;
    width: 99%;
    width: 99%;
    min-width: 100px;
    margin: auto;
    margin-top: 0.1vh;
    white-space: normal;
    overflow-wrap: break-word;

    border: 1px solid;
    border-color: #333333;
    border-radius: var(--main-radius);
}

#allTextsTable th {
    position: sticky;
    top: 2px;
    background: #999999;
    color: #000000;
}

#allTextsTable tr {
    background: #ffffff;
    color: #808080;
}

#allTextsTable tr:hover {
    background: #999999;
    color: #ffffff;
}
#allTextsTable tr.alt:hover {
    background: #999999;
    color: #808080;
}


#gridTop2 {
    background-color: #c2c4c6; /*#959ea7; dark grey/*#f2f2f1; light grey #ffcb05; yellow*/
    grid-area: gridTop2;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    font-family: sans-serif;
    text-align: left;
    color: #0d57aa;
}

.subHeading {
    font-weight: 550;
    font-size: 0.75vw;
    padding-left: 0.60vw;
    margin-top: 1px;
    margin-bottom: 0.5vh;
    color: #0d57aa;
}

#gridTop3 {
    background-color: #c2c4c6; /*#959ea7; dark grey/*#f2f2f1; light grey #ffcb05; yellow*/
    grid-area: gridTop3;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    font-family: sans-serif;
    text-align: left;
    color: #0d57aa;
}

h2 {
    padding-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 750;
    font-size: 1.25vw;
    white-space: normal;
    overflow-wrap: break-word;
    color: black;
}

#similarTexts1, #similarTexts2 {
    font-family: sans-serif;
    text-align: left;
    width: 100%;
    height: 100%;
    color: #0d57aa;
    margin-top: 0.15vh;
    margin: auto;

}

#recommendedText1, #recommendedText2 {
    width: 100%;
    height: 100%;
}

/*
#recommendedText1RadioSelection {
    background-color: white;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 16px;
    text-align: left;
    color: #808080;
}
*/
#divDifficultTextsTable {
    /*width: 60%;*/
}

#divGroup1Table {
    white-space: normal;
    overflow-wrap: break-word;
}

#divGroup2Table {
    white-space: normal;
    overflow-wrap: break-word;
}

#divDifficultTextsTable {
    background-color: white;
    overflow-y: auto;
    overflow-x: auto;
    min-width: 100px;
    min-height: 100%;
    max-height: 100%;
    height: 100%
    margin-top: 0.25vh;
    white-space: normal;
    overflow-wrap: break-word;
}

#divSummarySectionTable {
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
    overflow-wrap: break-word;
    margin-top: 0.5vh;
}

#group1Table, #group2Table, #difficultTextsTable {
    background-color: white;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 0.65vw;
    text-align: left;
    color: #808080;
}

#group1Table th, #group2Table th, #difficultTextsTable th {
    position: sticky;
    top: 2px;
    background: #999999;
    color: #000000;
}

#divLabelButtonSingle {
    margin-top: 0.5vh;
}

#divGroup1Button, #divGroup2Button, #labelSearchTextsButton  {
    width: 99%;
    margin: auto;
    margin-top: 0.5vh;
}

#group1Button, #group2Button, #generateDifficultTextsButton {
    display: flex;
    justify-content: center;
    font-size: 0.75vw;
    width: 100%;
}



#recommendedTextBody1, #recommendedTextBody2 {
    margin: 0 auto;
    margin-left: 0.25vh;
    width: 99%;
    height: 71.5%;
    min-height: 71.5%;
    max-height: 71.5%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: var(--main-radius);
    border: 1px solid;
    border-color: #333333;
    background-color: white;
}

#gridBottomRight1 {
    grid-area: gridBottomRight1;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*position: absolute;*/
}

#gridBottomRight2 {
    grid-area: gridBottomRight2;
    display: flex;
    flex-direction: column;
}

#gridBottomRight1, #gridBottomRight2 {
    background-color: #c2c4c6; /*#959ea7; dark grey/*#f2f2f1; light grey #ffcb05; yellow*/
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

#summarySection {
    font-family: sans-serif;
    text-align: left;
    color: #0d57aa; /*blue*/
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#difficultTexts {
    font-family: sans-serif;
    text-align: left;
    color: #0d57aa; /*blue*/
    height: 100%;
    width: 99%;
}

#difficultTextsBodyHeading {
    width: 100%;
}

#difficultTextsBody {
    font-family: sans-serif;
    font-weight: 200;
    text-align: left;
    color: #0d57aa;
    border: 1px solid;
    border-color: #333333;
    border-radius: var(--main-radius);
}


#difficultTextSummaryHeading {

}

#difficultTextSummary {
    font-family: sans-serif;
    font-weight: 200;
    text-align: left;
    color: #0d57aa;
    background-color: white;
    white-space: normal;
    overflow-wrap: break-word;
    border: 1px solid;
    border-color: #333333;
    border-radius: var(--main-radius);
    overflow-y: auto;
    overflow-x: hidden;
}

#divDifficultTextsButtons1 {

}

.grid-container {
    display: grid;
}

#difficultTextsGrid {
    /*display: grid;*/
    grid-template-columns: 75% 25%;
    grid-template-rows: 5% 85% 10%;
    /*grid-template-areas:
        "grid1 grid2"
        "grid3 grid4"
        "grid5 grid5;*/
    grid-gap: 0.5%;
    height: 94.75%;
    width: 100%;
    padding-left: 0.1vw;
}

#summarySectionBody {
    font-family: sans-serif;
    font-weight: 200;
    text-align: left;
    width: 98%;
    color: #0d57aa;
    height: 79%;
    min-width: 100px;
    position: relative;
    margin: 0 auto;
    margin-top: 0.5vh;
    /*position: relative;*/
    align: center;
    background-color: white;

    border: 1px solid;
    border-color: #333333;
    border-radius: var(--main-radius);
}

#difficultTextSummaryTable {
    font-size: 0.65vw;
    font-family: sans-serif;
    font-weight: 600;
    color: #808080; /*grey*/
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 0.65vh;
}

#difficultTextSummaryTable td {
    white-space: normal;
    overflow-wrap: break-word;
}

#difficultTextMessage {
    font-size: 0.65vw;
    font-family: sans-serif;
    color: #808080; /*grey*/
    white-space: normal;
    overflow-wrap: break-word;
    padding: 0.65vw;
}

#summarySectionTable {
    padding: var(--main-padding);
    background-color: white;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    /*padding-top : 0.5vw;*/
    padding-bottom : 0px;
    font-size: 0.65vw;
    font-family: sans-serif;
    font-weight: 200;
    color: #808080; /*grey*/
    height: 95%;
    max-height: 95%;
    min-height: 95%;
    margin: 0 auto;


}

#summarySectionTable td {
    padding-right: 3.0vw;
    padding-left: 0.25vw;
}

/*#summarySectionTable2 {

}*/

#divSummarySectionButtons {
    margin: auto;
    margin-top: 0.5vh;
    width: 100%
    margin-left: 2%;
}



#generateDifficultTextsButton, #labelAllButton {
    /*position: absolute;
    bottom: 0;*/
    /*margin-bottom: 2.5%;*/
    display: flex;
    justify-content: center;
    font-size: 0.75vw;
    width: 100%;
}

#exportRecordsButton {
    display: flex;
    justify-content: center;
    font-size: 0.75vw;
    width: 99%;
}

#divBodyRight {
    background-color: #333333;
    grid-area: divBodyRight;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

#divFooter {
    background-color: #00274c;
    grid-area: divFooter;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    font-size: 0.55vw;
}

html {
    height: 100%;
}

body {
    height: 95%;
    width: 100%;
    background-color: #f2f2f1; /*white; /*#c2c4c6; grey*/
}


.container {
  display: grid;
  height: 100%;
  grid-template-columns: 2% 8% 20% 6% 27.5% 13.5% 19.5% 2%;
  grid-template-rows: auto 45% 45% auto;
  grid-template-areas:
    "divHeader divHeader divHeader divHeader divHeader divHeader divHeader divHeader"
    "divBodyLeft gridTop0 gridTop1 gridTop2 gridTop2 gridTop3 gridTop3 divBodyRight"
    "divBodyLeft gridBottomLeft gridBottomLeft gridBottomLeft gridBottomRight1 gridBottomRight1 gridBottomRight2 divBodyRight"
    "divFooter divFooter divFooter divFooter divFooter divFooter divFooter divFooter";
  grid-gap: 0.3rem;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 0.75vw;
  color: #808080;
  text-align: center;
  style: "padding-left: 20px";

}


@media only screen and (max-width: 550px) {
    .container{
        grid-template-columns: 5fr;
        grid-template-rowss: 0.1fr 0.1fr 1fr 1fr 1fr 1fr 0.1fr 0.1fr;
        grid-template-areas:
            "divHeader"
            "divBodyLeft"
            "gridTopLeft"
            "gridTopRight"
            "gridBottomLeft"
            "gridBottomRight"
            "divBodyRight"
            "divFooter";
        grid-gap: 0.2rem;
    }
}
