<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rapid Text Labeling - Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='start.css') }}" media="all">
    <script>
    </script>
</head>
<body>
    <div class="container">
        <div id="divHeader">
            <h1 title="This tool is meant to be used for situations where a large number of texts records are to be evaluated so that a small number of labels can be assigned to them. The tool provides labeling methods that should be faster than a person labeling each text one at a time.">Rapid Labeling of Text Corpora Using Machine-Learning</h1>
        </div>
        <div id="divBodyLeft">
            <span title="Refresh this page if it is not displaying properly">
                <a href="{{ url_for('home') }}">
                    <img id="refreshIcon" src="{{ url_for('static', filename='refresh_icon_yellow.png') }}">
                </a>
            </span>
            <br>
        </div>
        <div id="gridTopLeft">
            <h2>Select an Existing Dataset</h2>
            <p class="subHeading">The available datasets are shown below</p>
            <div id="bodyLeft1">
                <div id="divBodyLeftTable1">
                    <table id="bodyLeftTable1" class="startTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if dataset_list %}
                        {% for dataset_record in dataset_list %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('dataset_selected',
                                                         dataset_name=dataset_record['name'],
                                                         dataset_url=dataset_record['url']) }}">
                                        <input name="dataset_name" type="hidden" value="{{ dataset_record['name'] }}">
                                        {{ dataset_record['name'] }}
                                    </a>

                                </td>
                                <td>{{ dataset_record['description'] }}</td>
                                <td><a href="{{ dataset_record['url'] }}"
                                       target="_blank">{{ dataset_record['url'] }}</a></td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>
                                    <a href="#">
                                        No dataset data available
                                    </a>

                                </td>
                                <td>No dataset data available</td>
                                <td>No dataset data available</td>
                            </tr>
                             <tr>
                                <td>
                                    <a href="#">
                                        No dataset data available
                                    </a>

                                </td>
                                <td>No dataset data available</td>
                                <td>No dataset data available</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">
                                        No dataset data available
                                    </a>

                                </td>
                                <td>No dataset data available</td>
                                <td>No dataset data available</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <h2>Dataset Preview</h2>
            <p class="subHeading">A preview of the selected data is shown below</p>
            <div id="bodyLeft2">
                <div id="divBodyLeftTable2">
                    <table id="bodyLeftTable2" class="startTable">
                        <thead>
                            <tr>
                                <th>Text ID</th>
                                <th>Text</th>
                                <th>Label</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if texts_list %}
                        {% for text_record in texts_list %}
                            <tr>
                                <td>
                                    <a href="#">
                                        {{ text_record['id'] }}
                                    </a>

                                </td>
                                <td>{{ text_record['text'] }}</td>
                                <td>{{ text_record['label'] }}</td>
                            </tr>
                        {% endfor %}
                        {% else %}
                            <tr>
                                <td>
                                    <a>
                                        Select an existing dataset above to see details.
                                    </a>
                                </td>
                                <td>Select an existing dataset above to see details.</td>
                                <td>Select an existing dataset above to see details.</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <h2 id="existingLabels">Dataset Labels</h2>
            <p class="subHeading">These labels have been defined to label this dataset</p>
            <div id="divBottomLeftBody">
                <p>
                    {% for dataset_label in dataset_labels %}
                    {{ dataset_label }}<br>
                    {% endfor %}
                </p>

            </div>
            <h2>Select a Layout</h2>
            <div id="divBodyLeftButtons">
                <form id="bodyLeftButtons"
                      action="{{ url_for('begin_labeling', dataset_name=dataset_name) }}"
                      method="POST">
                    <p class="subHeading">Select an interface layout</p>
                    <input name="dataset_name" type="hidden" value="{{ dataset_name }}">
                    <div id="divRadioConfiguration">
                        <div id="option1">
                            <input type="radio" id="config1" name="selected_config" value="config1">
                            <label for="config1" title="A user interface where all the options for text labeling are displayed all at once.">Layout 1</label>
                        </div>
                        <div id="option2">
                            <input type="radio" id="config2" name="selected_config" value="config2">
                            <label for="config2" title="A streamlined interface where components are displayed according to the user's selections.">Layout 2</label>
                        </div>


                    </div>
                    <div id="divBodyLeft2InfoMessage">If this dataset is suitable click 'Select Dataset'</div>
                    <input id="loadDataSetButton" type="submit" name="load_dataset" value="Select Dataset"
                           class="appButton"
                           title="This will go to the labeling screen">
                </form>
                <p class="subHeading">{{ config1_message }}</p>
            </div>
        </div>
        <div id="gridTopMiddle">
            <h2>Select a New Dataset</h2>
            <p class="subHeading">Select a single csv file containing a record identity column and a text column</p>
            <div id="bodyMiddle1">
                <form id="formSelectFile" action="{{ url_for('upload_file') }}" method="POST"
                      enctype = "multipart/form-data">
                    <input type="file" id="myFile" name="file" accept=".csv, .tsv" class="appButton">

                    <h2>Raw Dataset Preview</h2>
                    <div id="divDataPreviewTable"></div>

                    <div id="divSelectCols">
                        <div class="block">
                            <label id="labelTextIdColDropDown" for="textIdColDropDown"
                                   title="Identify which column has the unique identifiers (ID's) for each record"
                                   class="subHeading">Select the ID column</label>
                            <input id="inputTextIdColDropDown" list="textIdColList" name="textIdCol" id="textIdColDropDown">
                            <datalist id="textIdColList">
                                <option value="Default - Select a file">
                            </datalist>
                        </div>
                        <div class="block">
                            <label id="labelTextValueColDropDown" for="textValueColDropDown"
                                   title="Identify which column has the texts in the dataset"
                                   class="subHeading">Select the text column</label>
                            <input id="inputTextValueColDropDown" list="textValueColList" name="textValueCol" id="textValueColDropDown">
                            <datalist id="textValueColList">
                                <option value="Default - Select a file">
                            </datalist>
                        </div>
                    </div>

                    <br>

                    <input type="submit" class="appButton" id="prepDataButton"
                           title="The selected dataset will be prepared for the labeling process"
                           value="Prepare Data">
                    <div id="prepDataMessage1" class="subHeading"
                         title="If the 'Prepared Dataset Preview' does not appear to be correct do not continue. This app was developed using a limited number of input datasets and cannot be guaranteed to work on all formats">{{ prep_data_message1 }}</div>
                </form>

                <h2>Prepared Dataset Preview</h2>
                {% if prep_data_message2 is defined %}
                <div id="prepDataMessage2" class="subHeading">{{ prep_data_message2 }}</div>
                {% else %}
                <div id="prepDataMessage2" class="subHeading">No prepared data to show yet</div>
                {% endif %}
                <div id="divPreparedDataTable">
                    {% if prepared_data_list %}
                    <table id="preparedDataTable" class="startTable">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>text</th>
                                <th>label</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for dataset_record in prepared_data_list %}
                            <tr>
                                <td>{{ dataset_record['id'] }}</td>
                                <td>{{ dataset_record['text'] }}</td>
                                <td>{{ dataset_record['label'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>

                <h2 id="enterLabelsHeading">Enter Dataset Labels</h2>
                <div id="enterLabels">
                    <form id="formEnterLabels" action="{{ url_for('label_entered') }}" method="POST">
                        <input id="inputLabelEntered" type="text" placeholder="Type a label" id="myLabel"
                               name="labelEntered">
                        <button id="enterLabelButton" type="submit" class="appButton" name="action" value="add">Enter Label</button>
                        <button id="clearLabelButton" type="submit" class="appButton" name="action" value="clear">Clear Labels</button>
                    </form>
                    <div id="displayEnteredLabels">
                        <p>
                            {% for label in entered_labels %}
                            {{ label }}<br>
                            {% endfor %}
                        </p>
                    </div>
                </div>

                <h2>Select a Layout</h2>
                <p class="subHeading">Select an interface layout</p>
                <form id="formConfirmNewDataset" action="{{ url_for('begin_labeling_new_dataset', dataset_name=dataset_name) }}"
                      method="POST">
                    <div id="divRadioConfigurationNewData">
                        <div id="option1NewData">
                            <input type="radio" id="config1NewData" name="selected_config_new_data" value="config1">
                            <label for="config1" title="A user interface where all the options for text labeling are displayed all at once.">Layout 1</label>
                        </div>
                        <div id="option2NewData">
                            <input type="radio" id="config2NewData" name="selected_config_new_data" value="config2">
                            <label for="config2" title="A streamlined interface where components are displayed according to the user's selections.">Layout 2</label>
                        </div>
                    </div>
                    <div id="loadNewDataSetMessage">If this dataset is suitable click 'Select Dataset'</div>
                    <input id="loadDataSetButton2" type="submit" name="load_dataset" value="Select Dataset"
                           class="appButton"
                           title="This will go to the labeling screen">
                </form>
            </div>

        </div>
        <div id="gridTopRight">
            <h2>Watch a Demo Video</h2>
            <p class="subHeading">To understand how labeling works</p>
            <br>
            <div id="bodyRight1">
                <p class="subHeading">Layout 1</p>
                <div id="gif1">

                </div>
                <br>
                <p class="subHeading">Layout 2</p>
                <div id="gif2">

                </div>
            </div>
        </div>
        <div id="divBodyRight"></div>
        <div id="divFooter">Completed as part of the University of Michigan (School of Information) Master of Applied Data Science Program by Michael Penrose and Carlo Tak (December 2021)</div>
    </div>
    <script>
        var input = document.getElementById("myFile");
        var output = document.getElementById("divDataPreviewTable");
        var headers = [];
        var textIdColList = document.getElementById("textIdColList");
        var textValueColList = document.getElementById("textValueColList");
        var textIdColListHTML = "";

        input.addEventListener("change", function () {
          if (this.files && this.files[0]) {
            var myFile = this.files[0];
            var reader = new FileReader();

            reader.addEventListener('load', function (event) {
              var text = event.target.result;
              var textLines = text.split(/\r?\n/);

              var table = "<table class='startTable' id='dataPreviewTable'>";

              for(i = 0; i < textLines.length; i++) {
                  table += "<tr>";

                  var row = textLines[i];
                  var cells = row.split(/,(?=(?:(?:[^"]*"){2})*[^"]*$)/);

                  for(j = 0; j < cells.length; j++) {
                      if(i == 0) {
                        table += "<th>";
                        textIdColListHTML += "<option value='" + String(cells[j]) + "'>";
                      } else {
                        table += "<td>";
                      }

                      table += cells[j];

                      if(i == 0) {
                        table += "</th>";
                      } else {
                        table += "</td>";
                      }
                  }

                  table += "</tr>";
              }

              table += "</table>";

              output.innerHTML = table;
              textIdColList.innerHTML = textIdColListHTML;
              textValueColList.innerHTML = textIdColListHTML;

            });

            reader.readAsBinaryString(myFile);
          }
        });
    </script>
</body>
</html>